{% load static %}
<!doctype html>
<html lang="ko">
<head>
    
    <!-- 문자 인코딩 및 렌더링 엔진 설정 -->    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- 최신 Internet Explorer 엔진 사용 지정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- 반응형 웹 디자인을 위한 뷰포트 설정 -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    
    <!-- AG Grid의 필수 CSS 파일 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css" />
        
    <!-- SEED AG-Grid.css 스타일을 연결 -->
    <link rel="stylesheet" href="{% static 'css/SEED_AG-Grid.css' %}" />

    <!-- image 연결 -->
    <link rel="icon" href="{% static 'img/daesung_image.jpg' %}" />

    <!-- 사용할 테마에 해당하는 CSS 파일 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css" />

    <!-- CSV 파일을 파싱하기 위한 PapaParse 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script> <!-- XLSX 라이브러리 로드 -->

    <!-- jQuery 라이브러리 추가 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- AG Grid의 전체 기능을 포함하는 스크립트 추가 -->
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>


<!-- ================================= -->

<script>

document.addEventListener("DOMContentLoaded", function() {
    const restrictedLinks = [
      "분석 기초자료",
      "직무 분류 체계",
      "업무 분장표",
      "업무량 분석",
      "회기 관리",
      "표준 정보",
      "조직 정보",
      "직무 관리",
      "직무 조사",
      "공통 코드",
      "계정 관리",
      "접속 이력"
    ];

    const links = document.querySelectorAll(".fakeimg a");

    // 초기 페이지 로드 시 선택된 메뉴 강조
    // const currentTitle = "{{ title }}";

    links.forEach(link => {
      link.addEventListener("click", function(event) {
        const username = "{{ user.username }}";
        const linkText = this.textContent.trim();
        const deptMgrYn = "{{ dept_mgr_yn }}";

        if (deptMgrYn !== 'Y' && restrictedLinks.includes(linkText)) {
          event.preventDefault(); // 링크 이동을 막음
          alert("접근 권한이 없습니다."); // 알림 표시
        } 
      });
    });

    const logoutLink = document.getElementById("logoutLink");
    if (logoutLink) {
      logoutLink.addEventListener("click", function(event) {
        if (!confirm("로그아웃 하시겠습니까?")) {
          event.preventDefault();
        }
      });
    }
  });


  // 매뉴얼
  function openPDF() {
    // A4 용지 비율에 맞게 창의 크기를 설정
    var width = 800; // 폭
    var height = (width * 297) / 210; // 높이를 A4 비율에 맞게 계산

    // PDF 파일의 URL을 설정
    var pdfUrl = "{% static 'doc/부서 기본정보_매뉴얼.pdf' %}";
    // var pdfUrl = "{% static 'doc/' %}" + encodeURIComponent("{{ title }}") + "_매뉴얼" + ".pdf";

    // 새 창을 열고 PDF 파일을 표시
    window.open(pdfUrl, '_blank', 'noopener,noreferrer, width='+width+',height='+height);
  }
</script>

    <title>대성에너지::직무관리프로그램</title>

    
</head>
<body>
   <!-- header 영역 -->
   <header>
    <div class="top">
      <dl class="logo" style="padding-top:5px;">
        <a href="{% url 'main' %}"
          ><img
            src="{% static 'img/daesung_logo.png' %}"
            width="120px"
            alt="대성에너지(주)"
        /></a>
      </dl>

      <!-- 중간에 메인 직무가 표시될 위치 -->
      <h1 class="main-title" style="padding-left:650px; white-space:nowrap;"> 직무정보 조회 </h1>
      
      <!-- 매뉴얼 표시 버튼 -->
      <dl style="padding-left:650px; padding-top:5px;">
        <dd>
          <!-- <button id="pdfButton" onclick="openPDF()"><img src="{% static 'img/manual7.png' %}" alt="매뉴얼" style="height:20px;"/></button> -->
        </dd>
      </dl>

      <dl class="top-menu">
        <dd>
          {% if user.is_authenticated %}
          <a href="{% url 'common:logout' %}" id="logoutLink"
            ><img src="{% static 'img/logout.jpg' %}" alt="로그아웃이미지" style="padding-top:2px;"/><span style="font-size:16px; padding-bottom:20px;">{{ user.username }}</span>
          </a>
          {% else %}
          <a href="{% url 'common:login' %}">로그인</a>
          {% endif %}
        </dd>
      </dl>
    </div>
  </header>
  <!-- contents 영역 -->
  <contents>
    <div class="row">
      <div class="side">
        <div class="aside">
          <div class="management">
            <div class="fakeimg" style="height: 270px">
              <p>직무 관리</p>
              <a href="{% url 'JB101' %}">부서 기본정보</a>
              <a href="{% url 'JB102' %}">직무 기본정보</a>
              <a href="{% url 'JB103' %}">직무 상세정보</a>
              <a href="{% url 'JB103_grid' %}" style="background-color: red;">직무정보 조회</a>
              <!-- <a href="{% url 'JB103_grid' %}" style="background-color: red; color: white;">직무정보 조회</a> -->
              <a href="{% url 'JB110' %}">부서 업무량 분석</a>
              <a href="{% url 'JB108' %}">직무 현황제출</a>
            </div>
          </div>
          <div class="management">
            <div class="fakeimg" style="height: 200px">
              <p>직무 분석</p>
              <a href="{% url 'JB200' %}">분석 기초자료</a>
              <a href="{% url 'main' %}">직무 분류 체계</a>
              <a href="{% url 'main' %}">업무 분장표</a>
              <a href="{% url 'JB109' %}">업무량 분석</a>
            </div>
          </div>
          <div class="management">
            <div class="fakeimg" style="height: 240px">
              <p>기준 정보</p>
              <a href="{% url 'BS101' %}">회기 관리</a>
              <a href="{% url 'BS105' %}">표준 정보</a>
              <a href="{% url 'BS300' %}">조직 정보</a>
              <a href="{% url 'BS106' %}">직무 관리</a>
              <a href="{% url 'BS200' %}">직무 조사</a>
            </div>
          </div>
          <div class="management">
            <div class="fakeimg" style="height: 200px">
              <p>시스템 관리</p>
              <a href="{% url 'CC102' %}">공통 코드</a>
              <a href="{% url 'main' %}">계정 관리</a>
              <a href="{% url 'main' %}">접속 이력</a>
              <a href="{% url 'CC105' %}">비밀번호 변경</a>
            </div>
          </div>
        </div>
    </div>
  </contents>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

</body>
</html>
