{% extends 'jobs/base.html' %}
{% load static %}
{% block content %}
<body>
    <wrap>
      <div id = "JB104" style="margin-left: 50px; margin-top:50px;">
        
        <div class = "sub-title" >부서원 그룹</div>

        <div>
            <form action = "{% url 'JB104_1' %}" method="POST" id="jb104_1">
                {% csrf_token %}
                <p class="label-text2"> 회기
                  <select name="prd_cd" class="select-combox" id="selectOptions" style="margin-left: 62px">
                    {% for item in prd %}
                    <option value="{{ item.prd_cd }}" {%if prd_cd_selected == item.prd_cd %} selected {% endif %}> {{ item.prd_cd }} - 확정여부: {{ item.prd_done_yn }}</option>
                    {% endfor %}
                  </select>               
                </p>
                
                <p class="label-text2"> 부서
                <!-- 부서 정보들을 모두 표시하고 onchange되면 submit 해서 해당 부서(display_dept)원들을 불러옴 -->
                
                  <select class="select-combox" name="display_dept" onchange="this.form.submit()" style="margin-left: 62px;">
                      <!-- dept_list는 BsDept 테이블에서 마지막 prd_cd의 부서들이다. -->
                      {% for item in dept_list %}
                          <option value={{ item.dept_cd }} {%if select_team == item.dept_cd %} selected {% endif %}> {{ item.dept_nm }} </option>
                      {% endfor %}
                  </select>
                  <span style="margin-left: 70px;"> ※{{ mbr_count }}명 </span>
                </p>
            </form>
        </div>


      </div>


    </wrap>


{% endblock %}