{% extends 'jobs/base.html' %}
{% load static %}
{% block content %}
<body>
  <wrap>

  <!-- 전체 div -->
  <div id = "jb102" style="margin-left: 50px; margin-top:50px;">

    <div style="display: flex;">
    <!-- 회기 선택 div -->
    <div id = "jb102_1">
      <!-- 회기 선택 form -->
      <form method="POST" id="prd_select" action="{% url 'JB102_1' %}">
        {% csrf_token %}
        <input type="text" name="key_prd_select" value="select" hidden>
        <!-- 회기 표시 박스-->
        <div class="list-box-prd">
          <table>
            <thead>
              <tr>
                <th style="width: 100px;">
                  <p>회 기</p>
                </th>
                <th>
                  {% if key == "select" %}
                    <select name="prd_selected" class="select-combox3" id="selectOptions" onchange="this.form.submit()">
                      {% for item in prd_list %}
                      <option value="{{ item.prd_cd }}" {%if prd_selected == item.prd_cd %} selected {% endif %}> {{ item.prd_cd }} ({{ item.year }}년 {{ item.turn }}차수) - 확정여부 : {{ item.prd_done_yn }} </option>
                      {% endfor %}
                    </select>
                  {% else %}
                    <select name="prd_selected" class="select-combox3" id="selectOptions" onchange="this.form.submit()">
                      {% for item in prd_list %}
                      <option value="{{ item.prd_cd }}" {%if prd_selected == item.prd_cd %} selected {% endif %}> {{ item.prd_cd }} ({{ item.year }}년 {{ item.turn }}차수) - 확정여부 : {{ item.prd_done_yn }} </option>
                      {% endfor %}
                    </select>
                  {% endif %}
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </form>
    </div>

    <!-- 부서 선택 div -->
    <div id = "jb102_2" style="padding-top: 20px; padding-left:30px;">
      <!-- 부서 선택 form -->
      <form method="POST" id="dept_select" action="{% url 'JB102_2' %}">
        {% csrf_token %}
        <!-- 회기 선택값 -->
        <input type="hidden" name="prd_selected" value="{{ prd_selected }}">
        <!-- 부서 정보 선택 -->
        <p class="label-text2"> 부서
          <!-- 선택/초기 회기에 대한 BsDept에 있는 목록을 가져옴, 선택한 값을 유지시켜 줌 if문 활용 -->
            <select name="dept_selected" class="select-combox" onchange="this.form.submit()">
              {% for item in team_list %}
              <option value="{{ item.dept_cd }}" {%if dept_selected == item.dept_cd %} selected {% endif %} > {{ item.dept_nm }} </option>
              {% endfor %}
            </select>
        </p>
      </form>
    </div>
    </div>

    <!-- 직무 유형 선택 div -->
    <div id = "jb102_3">
      <!-- 직무 유형 선택 form -->
      <form method="POST" id="type_select" action="{% url 'JB102_3' %}">
        {% csrf_token %}
        <!-- 회기, 부서 -->
        <input type="hidden" name="prd_selected" value={{ prd_selected }}>
        <input type="hidden" name="dept_selected" value={{ dept_selected }}>
        <!-- 직무 유형 선택 div : style 포함 -->
        <div class="input-radio1" style="padding-top: 20px;">
          <span class="label-text2" style="padding-right: 30px;"> 직무유형 </span>
          <!-- 라디오 버튼 선택하면 바로 해당 값 조회됨(onchange) -->
          <input type="radio" name="job_type" value="all" onchange="this.form.submit();" {% if job_type == "all" %} checked {% endif %}
           {% if radio_activate == 'no' %} disabled {% endif %}/>
              <label for="all" style="font-family: Seed-Regular; font-size: 16px;">전체 직무</u></label>
          &nbsp;&nbsp;&nbsp;
          <input type="radio" name="job_type" value="common" onchange="this.form.submit();" {% if job_type == "common" %} checked {% endif %}
           {% if radio_activate == 'no' %} disabled {% endif %}/>
              <label for="common" style="font-family: Seed-Regular; font-size: 16px;">공통 직무</label>
          &nbsp;&nbsp;&nbsp;
          <input type="radio" name="job_type" value="unique" onchange="this.form.submit();" {% if job_type == "unique" %} checked {% endif %}
            {% if radio_activate == 'no' %} disabled {% endif %}/>
              <label for="unique" style="font-family: Seed-Regular; font-size: 16px;">고유 직무</label>
        </div>
      </form>
    </div>

    <!-- 부서정보, 직무유형 선택에 따른 결과값 표시 및 직무 선택, 성과책임 div -->
    <div id = "jb102_4" style="padding-left: 20px; padding-top: 20px;">

      <!-- 박스1 : 직무코드, 직무명, 직무개요, 직무 수행자 표시 -->
      <div style="padding-bottom: 10px;">
        <div id = "jb102_4_1" style="border:1px solid; border-radius: 5px; width:1400px; height:370px; padding: 20px; ">
          <!-- 직무 추가를 누를 때 직무 목록을 표시하고 직무 수행자를 입력할 수 있는 칸을 띄운다. -->
          {% if new_key == "activate" %}
            <!-- 직무 추가 폼 -->
            <form method="POST" id="job_management_new" action="{% url 'JB102_5' %}">
              {% csrf_token %}

              <input type="hidden" name="prd_selected" value={{ prd_selected }}>
              <input type="hidden" name="dept_selected" value={{ dept_selected }}>
              <input type="hidden" name="job_type" value={{ job_type }}>
              <div style="display: flex;">
              <!-- 직무 목록 표시 박스-->
              <div class="list-box-prd">
                <table>
                  <thead>
                    <tr>
                      <th style="width: 250px;">
                        <p> 직무 목록 </p>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <select name="new_job_cd" class="select-combox3" size="4" style="height: 167px;">
                          {% for item in job_new_list %}
                          <option value="{{ item.job_cd }}"> {{ item.job_nm }} </option>
                          {% endfor %}
                        </select>
                      </td>
                    </tr>
                  </thead>
                </table>
              </div>
              <div style="padding-top:100px;">
                <span class="label-text2" style="padding-right:10px;"> 직무 수행자 </span>
                <input type="text" name="new_job_by" class="input-text3" style="width:300px;">
              </div>
            </div>
            </form>

          {% else %}
          <div>

            <!-- 텍스트 메뉴 -->
            <span class="label-text6" style="padding-left: 105px;">직무명</span> 
            <span class="label-text6" style="padding-left: 450px;">직무 개요</span>
            <span class="label-text6" style="padding-left: 450px;">직무 수행자</span><br><br>

            <!-- 직무 선택 form -->
            <form method="POST" id="job_management" action="{% url 'JB102_4' %}">
            {% csrf_token %}

            <input type="hidden" name="key" value= "{{ key }}">
            <input type="hidden" name="prd_selected" value={{ prd_selected }}>
            <input type="hidden" name="dept_selected" value={{ dept_selected }}>
            <input type="hidden" name="job_type" value={{ job_type }}>

            <!-- 박스1 : 직무코드, 직무명, 직무개요, 직무 수행자 표시 -->
            <div data-index="0" style="display: flex; overflow-y: scroll; white-space: nowrap; height: 200px; width: 1330px; border: 1px solid #ccc; margin-top:5px; margin-left:10px;">
              <div>                        
                {% for item in job_list %}
                  <!-- 라디오 버튼, 직무코드를 value로 함. 선택하면 submit함. -->
                  <input type="radio" name="job_radio_102" value="{{ item.job_cd }}" onchange="this.form.submit();" {% if radio_selected == item.job_cd %} checked {% endif %} />
                  <!-- <input type="radio" name="job_radio_102" value="{{ item.job_cd }}" onchange="updateRadio()"/> -->
                  <!-- 직무코드, 이 값은 view.py로 넘어가지 않음. 화면에 표시하기 위함 -->
                  <input type="text" class="input-text4" name="job_cd_102" value="{{ item.job_cd }}" style="width:130px;" disabled hidden>
                  <!-- 직무코드 hidden 값으로, view.py로 보내주는 값-->
                  <input type="hidden" name="job_cd_hidden" value="{{ item.job_cd }}">
                  <!-- 직무명 -->
                  <input type="text" class="input-text4" name="job_nm_102" value="{{ item.job_nm }}" style="width:200px; background-color: #f2f2f2;" readonly>
                  <!-- 직무 개요 -->
                  <input type="text" class="input-text3" name="job_desc_102" value="{{ item.job_descrp }}" style="width:810px; background-color: #f2f2f2;" readonly>
                  <br>
                {% endfor %}
              </div>
              <div style="padding-left: 5px;">
                {% for item in job_by_list %}
                  <!-- 직무 수행자 -->
                  <input type="text" class="input-text3" name="job_by_102" value="{{ item.job_by }}" style="width:250px;" {% if job_type == "all" %} readonly {% endif %} >
                  <br>
                {% endfor %}
              </div>
            </div>
            </form>
          </div>
          {% endif %}

          <!-- 버튼 컨트롤 - 직무 유형 선택해야만 보임 -->
          {% if job_type_selected == "former" %}
          <!-- 직무 유형을 선택하지 않으면 버튼은 없음 -->
          {% else %}
            <div style="display: flex;">
            <!-- 직무 기본사항 추가에 대한 button control : 직무 유형이 전체이면 안보임-->
            {% if job_type == "all" %}
            <!-- 직무 유형이 전체인 경우에는 직무 추가 버튼이 보이지 않음 -->
            {% else %}
            <div style="display: flex; justify-content: center; align-items: center; height: 80px; padding-left: 500px;">
              <!-- 회기가 확정되어 있으면 추가, 취소 버튼 비활성화 -->
              {% if prd_done == "Y" %}
                <button class="del_disabled" disabled>추가</button>
                <button class="del_disabled" disabled>취소</button>
              {% else %}
              <!-- 행 추가 버튼 : job_managament form의 submit 버튼이다. -->
              <button class="add" form="job_management" type="submit" name="action" value="action3">추가</button>
                <!-- 행 추가 버튼 누르면 new_key는 activate라는 값을 가져온다. 행 추가 버튼을 누르면 취소 버튼을 activate 시킨다. -->
                {% if new_key == "activate" %}
                  <button type="submit" class="cancel" form="job_management_new" name="action" value="action2">취소</button>
                {% else %}
                  <button type="submit" class="cancel" form="job_management" name="action" value="action4">취소</button>
                {% endif %}
              {% endif %}
              <br>
            </div>
            {% endif %}

            <!-- 직무 수행자 저장, 직무 삭제에 대한 button control : 회기 확정이면 비활성화, 직무 유형이 전체이면 안보임 -->
            {% if job_type == "all" %}
            {% else %}
            <div class="forbutton" style="width:1357px; height:auto; display: flex; align-items: center;">
              <!-- 행 추가 버튼 눌렀을 때 : 저장 버튼을 activate시킨다. 그리고, 저장만 할 수 있도록 하고 삭제 버튼은 비활성화시킨다.-->
              {% if new_key == "activate" %}
                <div style="text-align: center; display: flex;">
                  {% if prd_done == "Y" %}
                    <button class="del_disabled" disabled>저장</button>
                  {% else %}
                    <button type="input" name="action" class="save" form="job_management_new" value="action1" onclick="return submitButton()">저장</button>
                  {% endif %}
                  <button style="display: inline-block;" class="del_disabled" disabled>삭제</button>
                </div>
              <!-- 행 추가 버튼 누르지 않았을 때: 저장버튼 활성화, 삭제버튼 비활성화 시키고 / 라디오 버튼 change되는 것 감지하면 삭제 버튼을 토글시켜서 삭제 버튼 활성화시킴 -->
              {% else %}
                <div style="text-align: center; display: flex;" >
                  {% if prd_done == "Y" %}
                    <button class="del_disabled" disabled>저장</button>
                  {% else %}
                    <button style="display: inline;" type="submit" form="job_management" class="save" name="action" value="action1" onclick="return validateForm()">저장</button>
                  {% endif %}
                  <!-- 삭제 버튼은 직무 코드 선택 라디오 버튼 체크를 해야 활성화됨 -->
                  {% if act_del == "yes" %}
                    {% if prd_done == "Y" %}
                      <button class="del_disabled" disabled>삭제</button>
                    {% else %}
                      <button style="display: inline;" type="submit" form="job_management" class="del" name="action" id="action2" value="action2"
                      onclick="return confirm('해당 직무가 바로 삭제됩니다. 계속하시겠습니까?');">삭제</button>
                    {% endif %}
                  {% else %}
                  <button style="display: inline; margin-left: 21px;" class="del_disabled" name="action" id="action4" disabled>삭제</button>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      <!-- 박스2 : 직무 성과책임 표시 -->
      <div>
        <div class = "jb102_copy_4_2" style="border:1px solid; border-radius: 5px; width:1400px; height:250px; padding: 20px;">
          <!-- 직무 성과책임 라벨 -->
          <span class="label-text6" style="padding-left: 55px;">직무 성과책임</span><br><br>
            <!-- 직무 성과책임 조회 div -->
            <div id="jb102_copy_4_2_edit" data-index="0" style="display: block; overflow-y: scroll; white-space: nowrap; 
            height: 150px; width: 1300px; border: 1px solid #ccc; margin-left:10px; margin-top:5px;">
              {% for item in job_resp_list %}
                <input type="text" class="input-text3" name="job_resp" value="{{ item.job_resp }}" style="width:800px; background-color: #f2f2f2;" readonly>
                <br>
              {% endfor %}
            </div> 
        </div>
      </div>
    </div>
  </div>

  <!-- 에러 메시지 -->
  {% if messages %}
  <div id="messages" style="display: none;">
    {% for message in messages %}
      <span class="{{ message.tags }}">{{ message|escapejs }}</span>
    {% endfor %}
  </div>
  {% endif %}

  </wrap>

  <script>

    var messagesContainer = document.getElementById('messages');
          if (messagesContainer) {
            var messages = messagesContainer.getElementsByTagName('span');
            for (var i = 0; i < messages.length; i++) {
              alert(messages[i].textContent);
            }
          }

    function validateForm() { // 빈 칸 검사하는 함수
      // 모든 input 요소를 가져옵니다.
      const inputs = document.querySelectorAll("input[type='text'], input[type='number']");
      // 모든 input 값을 검사합니다.
      for (const input of inputs) {
          if (input.value.trim() === "") {
          alert("빈 칸을 채우십시오.");
          return false; // 검증 실패 시 submit을 막습니다.
          }
      }
      // 모든 검증을 통과하면 true를 반환합니다.
      return true;
    }

    function submitButton() {
        // select 박스에서 선택된 값의 유무를 확인
        var selectedJobCd = document.forms['job_management_new']['new_job_cd'].value;
        // input 필드 값의 유무를 확인
        var jobByInput = document.forms['job_management_new']['new_job_by'].value.trim();

        // 두 조건 모두 만족하는지 검사
        if (selectedJobCd === "" || jobByInput === "") {
            // 사용자에게 모든 필드를 채울 것을 요구하는 알림 표시
            alert("직무 선택 및 직무 수행자를 입력하십시오.");
            return false; // 폼 제출을 방지
        }

        // 모든 검사를 통과하면 폼 제출을 허용
        return true;
    }
  </script>

</body>
{% endblock %}