{% extends 'jobs/base.html' %}
{% load static %}
{% block content %}

<body>

    <wrap>
        <div style="margin-left: 50px; margin-top:50px;">
   
            <div id="information">
                <!-- 회기 선택하도록 하는 폼 -->
                <form action = "{% url 'JB300' %}" method="POST" id="JB300">
                {% csrf_token %}
                    <div class="list-box-prd">
                        <table>
                        <thead>
                            <tr>
                            <th style="width: 100px;">
                                <p>회 기</p>
                            </th>
                            <th>
                                <select name="prd_cd_selected" class="select-combox3" id="selectOptions" onchange="this.form.submit()">
                                {% for item in prd %}
                                <option value="{{ item.prd_cd }}" {%if prd_cd_selected == item.prd_cd %} selected {% endif %}> {{ item.prd_cd }} ({{ item.year }}년 {{ item.turn }}차수) - 확정여부 : {{ item.prd_done_yn }} </option>
                                {% endfor %}
                                </select>
                            </th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </form>
            </div>

            <div>
                <form action = "{% url 'JB300_1' %}" method="POST" id="JB300_1">
                    {% csrf_token %}

                    <input type="hidden" name="prd_cd_selected" value="{{ prd_cd_selected }}">

                    <p class="label-text2"> 조직 그룹
                    <select class="select-combox" name="dept_domain_selected" style="margin-left: 30px;">
                        {% for item in dept_domain_list %}
                            <option value="{{ item }}" {%if dept_domain_selected == item %} selected {% endif %}> {{ item }} </option>
                        {% endfor %}
                    </select>
                    </p>

                    <div style="padding-top:20px;">
                        <button type="submit" class="save" name="action" value="action1">직무 분류 체계</button>
                        <button type="submit" class="save" name="action" value="action2">업무 분장표</button>
                    </div>

                </form>
            </div>

        </div>

        {% if messages %}
            <div id="messages" style="display: none;">
                {% for message in messages %}
                <span class="{{ message.tags }}">{{ message|escapejs }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </wrap>

    <script>
        
    </script>

</body>
{% endblock %}