{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대성에너지(주) - 직무관리프로그램</title>
    <link rel="icon" href="{% static 'img/daesung_image.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/seed_style.css' %}?after"/>
    <style></style>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const restrictedLinks = [
          "분석 기초자료",
          "직무 분류 체계",
          "업무 분장표",
          "업무량 분석",
          "회기 관리",
          "표준 정보",
          "조직 정보",
          "직무 관리",
          "직무 조사",
          "공통 코드",
          "계정 관리",
          "접속 이력"
        ];

        const links = document.querySelectorAll(".fakeimg a");

        // 초기 페이지 로드 시 선택된 메뉴 강조
        const currentTitle = "{{ title }}";
        const deptMgrYn = "{{ dept_mgr_yn }}";

        links.forEach(link => {
          const linkText = link.textContent.trim();
          if (linkText === currentTitle) {
            link.classList.add("selected_menu");
          }
        });

        links.forEach(link => {
          link.addEventListener("click", function(event) {
            const username = "{{ user.username }}";
            const linkText = this.textContent.trim();


            if (deptMgrYn !== 'Y' && restrictedLinks.includes(linkText)) {
              event.preventDefault(); // 링크 이동을 막음
              alert("접근 권한이 없습니다."); // 알림 표시

              // 현재 페이지의 a 태그 배경색을 빨간색으로 변경
              links.forEach(link => link.classList.remove("selected_menu"));
              const currentLink = Array.from(links).find(link => link.textContent.trim() === currentTitle);
              if (currentLink) {
                currentLink.classList.add("selected_menu");
              }
            } else {
              // 선택한 링크에 selected 클래스 추가
              links.forEach(link => link.classList.remove("selected_menu"));
              this.classList.add("selected_menu");
            }
          });
        });

        const logoutLink = document.getElementById("logoutLink");
        if (logoutLink) {
          logoutLink.addEventListener("click", function(event) {
            if (!confirm("로그아웃 하시겠습니까?")) {
              event.preventDefault();
            }
          });
        }
      });



    </script>
  </head>
  <body>
    <wrap>
      <!-- header 영역 -->
      <header>
        <div class="top" style="white-space: nowrap;">
          <dl class="logo">
            <a href="{% url 'main' %}"
              ><img
                src="{% static 'img/daesung_logo.png' %}"
                width="120px"
                alt="대성에너지(주)"
            /></a>
          </dl>
          <h1></h1>
          <!-- 중간에 메인 직무가 표시될 위치 -->
          <dl class="top-menu">
            <!-- <dd><a href="#">경영정보팀</a></dd> -->
            <dd>
              <!-- 바꿔야함 -->
              {% if user.is_authenticated %}
              <a href="{% url 'common:logout' %}" id="logoutLink"
                ><img src="{% static 'img/logout.jpg' %}" alt="로그아웃이미지" style="padding-top:2px;"/><span style="font-size:16px; padding-bottom:20px;">{{ user.username }}</span>
              </a>
              {% else %}
              <a href="{% url 'common:login' %}">로그인</a>
              {% endif %}
              <!-- {% if user.username == "dd10" %}
              ㅋㅋ
              {% endif %} -->
            </dd>
          </dl>
        </div>
      </header>
      <!-- contents 영역 -->
      <contents>
        <div class="row">
          <div class="side">
            <div class="aside">
              <div class="management">
                <div class="fakeimg" style="height: 270px">
                  <!-- 여기서 딱히 뭘 해줄 필요 없음 -->
                  <p>직무 관리</p>
                  <a href="{% url 'JB101' %}">부서 기본정보</a>
                  <a href="{% url 'JB102' %}">직무 기본정보</a>
                  <a href="{% url 'JB103' %}">직무 상세정보</a>
                  <a href="{% url 'JB103_grid' %}">직무정보 조회</a>
                  <a href="{% url 'JB110' %}">부서 업무량 분석</a>
                  <a href="{% url 'JB108' %}">직무 현황제출</a>
                </div>
              </div>
              <div class="management">
                <div class="fakeimg" style="height: 200px">
                  <p>직무 분석</p>
                  <a href="{% url 'JB200' %}">분석 기초자료</a>
                  <a href="{% url 'JB300' %}">직무 분류 체계</a>
                  <a href="{% url 'JB301' %}">업무 분장표</a>
                  <a href="{% url 'JB109' %}">업무량 분석</a>
                </div>
              </div>
              <div class="management">
                <div class="fakeimg" style="height: 240px">
                  <p>기준 정보</p>
                  <a href="{% url 'BS101' %}">회기 관리</a>
                  <a href="{% url 'BS105' %}">표준 정보</a>
                  <a href="{% url 'BS300' %}">조직 정보</a>
                  <a href="{% url 'BS106' %}">직무 관리</a>
                  <a href="{% url 'BS200' %}">직무 조사</a>
                </div>
              </div>
              <div class="management">
                <div class="fakeimg" style="height: 200px">
                  <p>시스템 관리</p>
                  <a href="{% url 'CC102' %}">공통 코드</a>
                  <a href="#">계정 관리</a>
                  <a href="#">접속 이력</a>
                  <a href="{% url 'CC105' %}">비밀번호 변경</a>
                </div>
              </div>
            </div>
          </div>
          <!-- main 영역은 table 디자인이 들어간다. -->
          <div class="main">
            <img src="{% static 'img/main_image.jpg' %}" alt="" />
          </div>
        </div>
      </contents>
      <div class="right_img">
        <copyright>
          <p>©2024 Management Information Team. All Rights Researved.</p>
        </copyright>
      </div>
    </wrap>
  </body>
</html>